:root {
    --primary-color: #0E1124;
    --secondary-color: #E7B500;

    --primary-bg-color: var(--primary-color);
    --secondary-bg-color: var(--secondary-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-primary {
    background-color: var(--primary-bg-color);

}

.bg-secondary {
    background-color: var(--secondary-bg-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.fullscreen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-video-container video {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 740px) {
    .fullscreen-video-container video {
        height: 75%;
    }
}